.app-header {
    background: #2cabe3;
    color:$bg-white;
    .fa.fa-bars {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        left: 2rem;
    }
    .page-title {
        display: inline-block;
    }
}