.left-menu {
    width: 20vw;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    z-index: 100;
    min-width: 10rem;
    background: $menu-bg-dark;
    .el-menu {
        font-size: $font-small;
        text-align: left;
    }
}