//background
$bg-green: #009487;
$bg-skyblue: skyblue;
$bg-red: #E53935;
$bg-black: #253137;
$bg-wheat: wheat;
$bg-gray: gray;
$bg-white: #FAFAFA;
//menu background
$menu-bg-dark: #324157;
//card background
$card-bg-orange: #FB8C00;
//button background
$btn-bg-green: #43A047;
$btn-bg-red: #F44336;
$btn-bg-blue: #0D47A1;
//text color
$text-gray: gray;
$text-white: #FAFAFA;
$text-brown: brown;
$text-black: #253137;
$text-green: #00828e;
//border style
$border-cornsilk: 0.5rem ridge cornsilk;
//font size
$font-small: 1.25rem;
$font-normal: 1.5rem;
$font-big: 2rem;
//icon size
$icon-normal: 1.5rem;
$icon-big: 3rem;
$icon-gray: #BDBDBD;
//icon color
$icon-color-white: white;
$icon-color-wheat: wheat;